.login_box {
    height: 738px;
    width: 565px;
    position: absolute;
    right: 0%;
}

.login_box .rectangle_box {
    border: 1px solid;
    border-color: #393c49;
    border-radius: 20px;
    position: absolute;
    height: 658px;
    left: -50px;
    top: 30px;
    width: 465px;
    background-color: rgba(255, 255, 255, 0.5);
}

.login_box .h1_login {
    font-family: 'Odor Mean Chey', serif;
    font-size: 40px;
    font-weight: 400px;
    position: relative;
    top: 50px;
    left:180px;
}

.image_Logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    left: 177px;
    top: 38px;
}

.login_form {
    max-width: 50%;
    position: relative;
    top: 40px;
}

.login_form>.input_login {
    height: 71px;
    width: 415px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    border-color: #393c49;
    border-radius: 20px;
    position: relative;
    right: 95px;
    padding: 10px;
    font-size: 13px;
}

.submit_login {
    height: 61px;
    width: 292px;
    background-color: white;
    border: 1px solid;
    border-color: #393c49;
    border-radius: 50px;
    position: absolute;
    width: 292px;
    left: -20px;
    top: 300px;
    font-family: 'Odor Mean Chey', serif;
    font-size: 40px;
    font-weight: 400px;
    
}

.image_Login {
    position: fixed;
    object-fit: cover;
    left: 0%;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.login_form>a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the parent element's color */
    cursor: pointer; /* Change cursor to pointer on hover (optional) */
}

@media only screen and (max-width: 1025px) {
    .login_box {
        width: 438px;
        position: fixed;
        right: 0%;
    }

    .login_box .rectangle_box {
        height: 600px;
    }
}

@media only screen and (max-width: 516px) {
    .image_Logo {
        left: 30px;
    }


    .login_box {
        height: 100%;
        width: 100%;
        position: relative;
        right: 0;
    }

    .login_box .rectangle_box {
        height: 90%;
        left: 20px;
        top: 5%;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .login_box .h1_login {
        font-size: 20px;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
    }

    .login_form {
        max-width: 100%;
        top: 50px;
    }

    .login_form>.input_login {
        height: 35px;
        width: 80%;
        margin-top: 2px;
        margin-bottom: 2px;
        position: relative;
        right: 0;
    }

    .submit_login {
        height: 30px;
        width: 146px;
        position: relative;
        left: 0;
        top: 150px;
        font-size: 20px;
    }

    .image_Login {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .login_form>a {
        font-size: 16px;
    }
}
