nav {
    background-color: #393c49;
    overflow: hidden;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

.logo {
    display: flex;
    align-items: center;
}

.h1_logo {
    color: white;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Aclonica', sans-serif;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    margin: 0 10px;
}

.welcomeBanner {
    width: 100%;
    height: 567px;
}

.rehome {
    position: relative;
    top: 120px;
    background-color: white;
    width: 100%;
    height: 500px;
}

.details_textBox {
    position: absolute;
    right: 500px;
    top: 50px;
}

.rehome_h1 {
    color: black;
    font-family: 'Aclonica', sans-serif;
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    top: 50px;
    left: 180px;
}

.addnewpet {
    color: blue;
    font-family: 'Aclonica', sans-serif;
    font-size: 48px;
    font-weight: 400;
    position: absolute;
    top: 50px;
    right: 180px;
}

.rehome_box>.rehome_img {
    width: 212px;
    height: 227px;
    object-fit: cover;
}

.rehome_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 150px;
    left: 0px;
}

.rehome_container>.rehome_box {
    border: 1px solid;
    border-color: #393c49;
    border-radius: 20px;
    height: 300px;
    width: 1100px;
    margin-top: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 0px;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
}

.rehome_box>h1 {
    color: black;
    font-family: 'Aclonica', sans-serif;
    font-size: 48px;
    font-weight: 400;
    position: relative;
    top: -270px;
    left: 250px;
}

.rehome_box>h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: -250px;
    left: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.scheduleBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 150px;
    left: 0px;
}

.scheduleform {
    position: relative;
    top: 120px;
    background-color: white;
    width: 25%;
    height: 500px;
    margin-top: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.scheduleform>.schedule_input {
    height: 71px;
    width: 700px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
    border-color: #393c49;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    right: 150px
}

.schedule_submit {
    height: 70px;
    width: 292px;
    background-color: #393c49;
    color: #ffffff;
    border: 1px solid;
    border-radius: 20px;
    width: 292px;
    left: 290px;
    top: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400px;
}

.rehome_box>.edit {
    position: relative;
    left: 800px;
    top: -330px;
}

.edit1 {
    position: relative;
    left: 400px;
    top: -260px;
}

.rehome_box>.delete {
    position: relative;
    left: 800px;
    top: -320px;
}

.delete1 {
    position: relative;
    left: 420px;
    top: -250px;
}

.rehome_container>.appointment_outerbox {
    border: 1px solid;
    border-color: #393c49;
    border-radius: 20px;
    height: 410px;
    width: 1100px;
    margin-top: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 0px;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
}

.document_img {
    width: 350px;
    height: 350px;
}

.appointment_innerbox2 {
    position: relative;
    top: -400px;
    right: -400px;
}

.appointment_innerbox2>h1 {
    color: black;
    font-family: 'Aclonica', sans-serif;
    font-size: 48px;
    font-weight: 400;
    position: relative;
}

.appointment_innerbox2>h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.appointment_outerbox>.deleteImg {
    position: relative;
    right: -900px;
    top: -100px;
}

.appointment_outerbox>.deleteImg2 {
    position: relative;
    object-fit: none;
    left: 900px;
    top: -500px;
}

.appointment_innerbox {
    position: relative;
    top: -20px;
    right: 0px;
}

.appointment_innerbox>h1 {
    color: black;
    font-family: 'Aclonica', sans-serif;
    font-size: 48px;
    font-weight: 400;
    position: relative;
}

.appointment_innerbox>h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.appointment_outerbox>.deleteImg {
    position: relative;
    right: -900px;
    top: -100px;
}

.appointment_innerbox {
    position: relative;
    top: -20px;
    right: 0px;
}

.space3 {
    background-color: #ffffff;
    position: relative;
    top: 500px;
    width: 100%;
    height: 50px;
}

@media only screen and (max-width: 1025px) {
    .appointment_outerbox>.deleteImg2 {
        top: -450px;
        left: 750px;
    }

    .rehome_h1 {
        font-size: 48px;
        top: 25px;
        left: 20px;
    }

    .addnewpet {
        font-size: 48px;
        top: 25px;
        right: 20px;
    }

    .rehome_box>h2 {
        left: 252px;
        max-width: 300px;
    }

    .rehome_box>.edit {
        position: relative;
        left: 550px;
        top: -330px;
    }

    .appointment_innerbox2>h2 {
        max-width: 400px;
    }

    .rehome_box>.delete {
        position: relative;
        left: 550px;
        top: -320px;
    }
}

@media only screen and (max-width: 896px) {

    .appointment_innerbox2 {
        position: relative;
        top: -400px;
        right: -400px;
    }

    .appointment_innerbox2 {
        position: relative;
        top: -344px;
        right: -322px;
    }

    .appointment_innerbox2>h2 {
        font-size: 17px;
        max-width: 350px;
    }

    .document_img {
        width: 300px;
        height: 300px;
    }

    .edit1 {
        left: 300px;
    }

    .delete1 {
        left: 310px;
    }

    .rehome_container>.appointment_outerbox {
        height: 338px;
    }

    .appointment_outerbox>.deleteImg2 {
        top: -450px;
        left: 620px;
    }
}

@media only screen and (max-width: 769px) {

    .rehome_h1 {
        font-size: 24px;
        top: 25px;
        left: 20px;
    }

    .appointment_innerbox2>h2 {
        max-width: 200px;
    }

    .addnewpet {
        font-size: 24px;
        top: 25px;
        right: 20px;
    }

    .document_img {
        width: 250px;
        height: 250px;
    }

    .appointment_innerbox2 {
        position: relative;
        top: -290px;
        right: -285px;
    }

    .rehome_box>h1 {
        left: 215px;
    }

    .rehome_box>h2 {
        font-size: 15px;
        left: 215px;
        max-width: 200px;
    }

    .appointment_outerbox>.deleteImg2 {
        position: relative;
        top: -320px;
        left: 100px;
    }

    .rehome_box>.edit {
        position: relative;
        left: 400px;
        top: -330px;
    }

    .rehome_box>.delete {
        position: relative;
        left: 400px;
        top: -320px;
    }

    .rehome_container>.appointment_outerbox {
        height: 300px;
    }
}

@media only screen and (max-width: 597px) {

    .rehome {
        top: 150px;
        height: 250px;
    }

    .details_textBox {
        right: 250px;
        top: 25px;
    }

    .rehome_box>.rehome_img {
        width: 106px;
        height: 113.5px;
    }

    .rehome_container {
        top: 75px;
    }

    .rehome_container>.rehome_box {
        height: 200px;
        width: 550px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 10px;
        line-height: 37.5px;
        font-size: 15px;
    }

    .rehome_box>h1 {
        font-size: 24px;
        top: -135px;
        left: 110px;
    }

    .rehome_box>h2 {
        font-size: 10px;
        top: -125px;
        left: 110px;
    }

    .scheduleBox {
        top: 75px;
    }

    .scheduleform {
        top: 60px;
        width: 100%;
        height: 250px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 10px;
        line-height: 37.5px;
        font-size: 15px;
    }

    .scheduleform>.schedule_input {
        height: 35.5px;
        width: 350px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        right: 75px;
    }

    .schedule_submit {
        height: 35px;
        width: 146px;
        left: 145px;
        top: 300px;
        font-size: 20px;
    }

    .rehome_box>.edit,
    .rehome_box>.delete {
        left: 0px;
        top: -200px;
    }

    .rehome_container>.appointment_outerbox {
        height: 250px;
        width: 550px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 10px;
        line-height: 37.5px;
        font-size: 15px;
        height: 300px;
    }

    .document_img {
        width: 150px;
        height: 150px;
    }

    .appointment_innerbox2 {
        top: -180px;
        right: -152px;
    }

    .appointment_innerbox2>h1,
    .appointment_innerbox2>h2 {
        font-size: 24px;
    }

    .appointment_innerbox2>h2 {
        font-size: 11px;
        max-width: 300px;
    }

    .appointment_outerbox>.deleteImg,
    .appointment_outerbox>.deleteImg2 {
        right: 0px;
    }

    .appointment_innerbox {
        top: -10px;
    }

    .appointment_innerbox>h1,
    .appointment_innerbox>h2 {
        font-size: 24px;
    }

    .appointment_innerbox>h2 {
        font-size: 12px;
    }

    .appointment_outerbox>.deleteImg2 {
        top: -250px;
        left: 41px;
    }

    .rehome_container>.appointment_outerbox {
        height: 200px;
    }

    .edit1 {
        left: 170px;
        top: -180px;
    }

    .delete1 {
        left: 180px;
        top: -170px;
    }
    
}

@media only screen and (max-width: 426px) {

    .appointment_outerbox>.deleteImg2 {
        top: -250px;
        left: 32px;
    }

    .appointment_innerbox2>h2 {
        max-width: 180px;
    }
}

@media only screen and (max-width: 320px) {

    .document_img {
        width: 100px;
        height: 100px;
    }

    .appointment_innerbox2 {
        top: -132px;
        right: -108px;
    }

    .appointment_innerbox2>h2 {
        font-size: 8px;
        max-width: 140px;
    }

    .rehome_box>h2 {
        font-size: 8px;
        top: -125px;
        left: 110px;
        max-width: 150px;
    }

    .rehome_box>.edit, .rehome_box>.delete {
        left: 0px;
        top: -150px;
    }

    .appointment_outerbox>.deleteImg2 {
        top: -200px;
        left: 15px;
    }

    .rehome_container>.appointment_outerbox {
        height: 150px;
    }

    .edit1 {
        left: 100px;
        top: -140px;
    }

    .delete1 {
        left: 100px;
        top: -130px;
    }
}