@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.page_body {
    margin: 0;
}

.welcome {
    text-align: center;
}

.welcomeImg {
    width: 100%;
    height: 560px;
    object-fit: cover;
    position: relative;
    bottom: 235px;
    z-index: -1;
}

.welcome {
    width: 100%;
    height: 560px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.welcome>h1 {
    text-align: center;
    color: white;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    margin: 0px;
    position: relative;
    bottom: -100px;
}

.welcome>p {
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    position: relative;
    bottom: -100px;
}

.welcome a {
    color: #fff;
    text-decoration: none;
}

.login{
    display: inline-block;
    background-color: #393c49;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    position: relative;
    width: 230px;
    height: 56px;
    top: 210px;
}

.avp {
    position: relative;
    bottom: -100px;
}

.avp>p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    position: relative;
    right: -60px;
}

.avp>.avpvideo {
    position: absolute;
    top: 0px;
    right: 100px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 10px 8px #888888;
}

.service {
    position: relative;
    bottom: -100px;
    margin-left: 60px;
    margin-right: 60px;
}

.service>h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 30%;
    border: 1px solid black;
    border-radius: 10%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.box>img {
    width: 100px;
    height: 100px;
}

.box>h2 {
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.box>p {
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.about {
    position: relative;
    bottom: -150px;
    margin-left: 60px;
    margin-right: 60px;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.image-container {
    width: 50%;
    position: relative;
    right: -200px;
}

.image-container>img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 10px 8px #888888;
}

.info-container {
    width: 45%;
    padding: 20px;
}

.info-container>h1 {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.info-container>p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: justify;
}

.team {
    position: relative;
    bottom: -150px;
    margin-left: 60px;
    margin-right: 60px;
}

.team>h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.box2 {
    width: 30%;
    border: 1px solid black;
    border-radius: 10%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
}

.box2>img {
    width: 100px;
    height: 100px;
}

.box2>h2 {
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.box2>p {
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

footer {
    position: relative;
    bottom: -300px;
    display: flex;
    justify-content: space-between;
    background-color: #393c49;
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

footer>div {
    flex: 1;
    margin-right: 15px;
}

footer>div:last-child {
    margin-right: 0;
}

footer>a {
    color: white;
    text-decoration: none;
}

footer>a:hover {
    color: #ddd;
}